body{
    background: fixed url(jack.jpg) repeat;
}
.product{
    background: #2b2c2c;
    width: 70%;
    margin-top: 10%;
    margin-bottom: 5%;
    border-radius: 40px;
    padding: 10px;
    text-align: center; 
    line-height: 65px;
    word-wrap: break-word;
}
ul{
    list-style-type: none;
}
.product-li{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    color:ghostwhite;
    margin: auto 50px;
}
.edite{
margin-top:3%;
width: 70px;
background: #e0bd2f;
border: none;
}
.delete{
    margin-left: 9%;
    margin-top:3%;   
}
.multi{
    width:17px ;
    height:17px;
    opacity: 80%;
    position: relative;
    top:10px;
    left: 30px;
}
.add-section{
    background:#121416;
    padding: 1%;
    text-align: center;
}
.add-botton{
    width: 20%;
    background: #0d0dbb;
    border: none;
}
.edite-link{
    text-decoration:none;
}
.edite:hover{
    background:#be9e1d;
}